In [1]:
# Code for ETL operations on Country-GDP data

# Importing the required libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import numpy as np
from datetime import datetime

In [26]:
def log_progress(message):
    ''' This function logs the mentioned message of a given stage of the
    code execution to a log file. Function returns nothing'''
    time_format = '%Y-%h-%d:%H-%M-%S'
    current_time = datetime.now()
    timestamp = current_time.strfttime(time_format)
    with open('code_log.txt', 'a') as f:
        f.write(timestamp + ' : '+ str(message))
        
def extract(url, table_attribs):
    ''' This function aims to extract the required
    information from the website and save it to a data frame. The
    function returns the data frame for further processing. '''
    df = pd.DataFrame(columns=table_attribs)

    for col in table.find_all('tr'):
        if len(col.find_all('td')) == 0:
            continue
        bank_dict = {table_attribs[0]: col.find_all('td')[0].get_text().strip(),
                     table_attribs[1]: col.find_all('td')[1].get_text().strip(),
                     table_attribs[2]: float(col.find_all('td')[2].get_text().strip())}
        bank_df = pd.DataFrame(bank_dict, index=[0])
        df = pd.concat([df,bank_df], ignore_index=True) 
    return df

def transform(df, csv_path):
    ''' This function accesses the CSV file for exchange rate
    information, and adds three columns to the data frame, each
    containing the transformed version of Market Cap column to
    respective currencies'''

    return df

def load_to_csv(df, output_path):
    ''' This function saves the final data frame as a CSV file in
    the provided path. Function returns nothing.'''

def load_to_db(df, sql_connection, table_name):
    ''' This function saves the final data frame to a database
    table with the provided name. Function returns nothing.'''

def run_query(query_statement, sql_connection):
    ''' This function runs the query on the database table and
    prints the output on the terminal. Function returns nothing. '''

In [2]:
url = 'https://web.archive.org/web/20230908092635 /https://en.wikipedia.org/wiki/List_of_largest_banks'

In [3]:
webpage = requests.get(url).text

In [4]:
soup = BeautifulSoup(webpage,'html.parser')

In [5]:
table = soup.find('table')

In [6]:
table.find_all('tr')[3].find_all('td')[0].get_text().strip()

'3'

In [ ]:
table.find_all('tr')[3].find_all('td')[1].get_text().strip()

In [ ]:
banks_dict = {'rank':[],'bank_name':[],'market':[]}

for col in table.find_all('tr'):
    if len(col.find_all('td')) == 0:
        continue
    for index,key in enumerate(banks_dict.keys()):
        banks_dict[key].append(col.find_all('td')[index].get_text().strip())

banks_df = pd.DataFrame(banks_dict)

In [18]:
table_attribs = ['rank','bank_name','market']
banks_df = pd.DataFrame(columns=table_attribs)

In [ ]:
for col in table.find_all('tr'):
    if len(col.find_all('td')) == 0:
        continue
    print(col.find_all('td')[1].get_text().strip())

In [27]:
table_attribs = ['rank','bank_name','market']
banks_df = pd.DataFrame(columns=table_attribs)

for col in table.find_all('tr'):
    if len(col.find_all('td')) == 0:
        continue
    bank_dict = {table_attribs[0]: col.find_all('td')[0].get_text().strip(),
                 table_attribs[1]: col.find_all('td')[1].get_text().strip(),
                 table_attribs[2]: float(col.find_all('td')[2].get_text().strip())}
    bank_df = pd.DataFrame(bank_dict, index=[0])
    banks_df = pd.concat([banks_df,bank_df], ignore_index=True)
banks_df

  rank                                bank_name  market
0    1                           JPMorgan Chase  432.92
1    2                          Bank of America  231.52
2    3  Industrial and Commercial Bank of China  194.56
3    4               Agricultural Bank of China  160.68
4    5                                HDFC Bank  157.91
5    6                              Wells Fargo  155.87
6    7                        HSBC Holdings PLC  148.90
7    8                           Morgan Stanley  140.83
8    9                  China Construction Bank  139.82
9   10                            Bank of China  136.81

In [28]:
exchange_rate = pd.read_csv('exchange_rate.csv')
exchange_rate

  Currency   Rate
0      EUR   0.93
1      GBP   0.80
2      INR  82.95

In [32]:
exchange_rate.to_dict('list')

{'Currency': ['EUR', 'GBP', 'INR'], 'Rate': [0.93, 0.8, 82.95]}

In [33]:
exchange_rate.to_dict('series')

{'Currency': 0    EUR
 1    GBP
 2    INR
 Name: Currency, dtype: object,
 'Rate': 0     0.93
 1     0.80
 2    82.95
 Name: Rate, dtype: float64}

In [34]:
exchange_rate.to_dict('split')

{'index': [0, 1, 2],
 'columns': ['Currency', 'Rate'],
 'data': [['EUR', 0.93], ['GBP', 0.8], ['INR', 82.95]]}

In [36]:
exchange_rate.to_dict('records')

[{'Currency': 'EUR', 'Rate': 0.93},
 {'Currency': 'GBP', 'Rate': 0.8},
 {'Currency': 'INR', 'Rate': 82.95}]

In [39]:
exchange_rate.set_index('Currency').to_dict('index')

{'EUR': {'Rate': 0.93}, 'GBP': {'Rate': 0.8}, 'INR': {'Rate': 82.95}}

In [41]:
exchange_rate.set_index('Currency').transpose()

Currency   EUR  GBP    INR
Rate      0.93  0.8  82.95